{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erlinda's Cafe | About Us</title>
    <link rel="stylesheet" href="{% static 'users/css/about.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'users:logo' %}" class="logo"><img src="{% static 'users/images/erlindas-logo.png' %}" alt=""></a>
        <nav class="navbar">
            <a href="{% url 'users:show_homepage' %}">Home</a>
            <a href="{% url 'users:about' %}">About</a>
            <a href="{% url 'users:menu' %}">Menu</a>
            <a href="{% url 'users:franchise' %}">Franchise</a>
            <a href="{% url 'users:contact' %}">Contact</a>
        </nav>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </header>



    <section>
        <div class="title">
            <div class="our-story">
                <h1>Our Story</h1>
                <p>our own once upon a time...</p>
            </div>
            <div class="box">
                <div class="box-story">
                    <h1>How We Started</h1><br>
                    <p>Erlinda's Cafe emerged as a beacon of hope during the uncertain times of the pandemic. Founded by Bernard and Jeniffer, the couple aimed to bring comfort and joy through their culinary creations. With Bernard's extensive experience as a store manager at a well-known cafe, they decided to embark on this new journey together.</p><br>
                    <p>Their initial menu featured 'silogs', 'lugaw', and chicken biryani. However, Bernard and Jeniffer quickly noticed that their customers particularly enjoyed the chicken biryani. Realizing its popularity, they decided to focus on this dish and began learning more about Middle Eastern cuisine.</p>
                </div>
                <div class="image-box">
                    <img src="{% static 'users/images/old-erlinda.jpeg' %}" alt="">
                </div>
                <div class="box-story">
                    <p>With 17 years of experience in the coffee industry, Bernard decided to resign and dedicate himself fully to their cafe. They expanded their menu to include more Indian and Arabic dishes, enriching their offerings. Their venture began with a loan of 30,000 pesos from a relative of Jeniffer, which served as their starting capital, along with their sheer determination.</p><br>
                    <p>Bernard soon acquired a second-hand espresso machine using his backpay, marking the beginning of a new chapter. With hard work and passion, Erlinda's Cafe has since grown into a beloved local eatery, celebrated for its delicious and diverse menu.</p>
                </div>
                <div class="box-story">
                    <h1>Us Now</h1><br>         
                    <p>Today, Erlinda's Cafe is a thriving success, boasting multiple branches across the province. The couple's vision and hard work have turned their small startup into a well-loved brand, with plans to expand even further through franchising in other parts of the country. Each branch maintains the cozy, welcoming atmosphere of the original cafe, offering the same delicious menu that first won over the hearts of their customers. This growth is a testament to their ability to adapt and innovate, meeting the tastes and needs of a diverse clientele.</p>
                </div>         
                <div class="image-box">
                    <img src="{% static 'users/images/us-now.jpeg' %}" alt="">
                </div>
                <div class="box-story">
                    <p>Erlinda's Cafe has become one of the prides of Rosario, Batangas, symbolizing resilience, and innovation. Bernard and Jeniffer's journey from a humble beginning to a provincial favorite showcases their unwavering dedication and passion for their business. Their success story has inspired many in their community, proving that with determination and love, great things can be achieved. The cafe's ongoing popularity and expansion plans reflect the deep connection they have built with their customers, ensuring that Erlinda's legacy continues to thrive.</p>                    
                </div>
                <div class="image-box">
                    <img src="{% static 'users/images/us-now2.jpeg' %}" alt="">
                </div>
            
                <div class="box-story">
                    <p>The rest, as they say, is history.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="end-message">
            <a href="{% url 'users:logo' %}"><img src="{% static 'users/images/erlindas-logo.png' %}" alt=""></a>
            <h1>the reason you crave middle-eastern</h1>
        </div>
        <div class="end-notes">
            <p>MONDAY - FRIDAY: 11:30AM - 11PM | SATURDAY & SUNDAY: 11:30AM - 12AM</p>
            <p>CHRISTMAS EVE: 11:30AM - 4PM</p>
            <p>CHRISTMAS DAY: CLOSED | NEW YEAR'S DAY: CLOSED</p>
            <p class="copyright">COPYRIGHT 2024 | DEVELOPED BY ABT TECHS</p>
        </div>
        
    </section>
    <script src="{% static 'users/script.js' %}"></script>
</body>
</html>