{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erlinda's Cafe | About Us</title>
    <link rel="stylesheet" href="{% static 'users/css/frannchise.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'users:logo' %}" class="logo"><img src="{% static 'users/images/erlindas-logo.png' %}"></a>
        <nav class="navbar">
            <a href="{% url 'users:show_homepage' %}">Home</a>
            <a href="{% url 'users:about' %}">About</a>
            <a href="{% url 'users:menu' %}">Menu</a>
            <a href="{% url 'users:franchise' %}">Franchise</a>
            <a href="{% url 'users:contact' %}">Contact</a>
        </nav>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </header>

    <div class="title">        
        <h1>FRANCHISE WITH US!</h1>
        <div class="coffee-container">
            <img src="{% static 'users/images/coffee-sketch.png' %}" alt="">
        </div>
        <div class="p-container">
            
            <p>Are you passionate about the aroma of freshly brewed coffee and the warmth of a cozy cafe atmosphere? The growing Erlinda's Cafe family is thrilled to extend an invitation to you to join our journey as we expand through franchising opportunities. At Erlinda's, we pride ourselves on serving premium quality coffee sourced from the finest beans, complemented by delectable pastries and savory bites. As a franchisee, you'll step into a world of proven success, supported by our comprehensive training programs, ongoing operational guidance, and a brand renowned for its commitment to excellence. Join us in bringing the Erlinda's experience to communities far and wide, and let's brew success together. Explore the rewarding possibilities of owning your own Erlinda's Cafe franchise today!</p>
        </div>
        </div>
    <div class="img-container">
        <img src="{% static 'users/images/erlinda-bldg.jpg' %}" alt="">
    </div>
    <div class="contact">
        <a href="#">CONTACT US</a>
    </div>

    <div class="our-branches">
        <h2>Our Branches</h2>
        <div class="branch">
            <div class="branch-box branch-img">
                <img src="{% static 'users/images/erlinda-bldg.jpg' %}" alt="">
            </div>
            <div class="branch-box caption">
                <h4>Main Branch | Rosario, Batangas</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsa ut eligendi officiis qui adipisci ullam veniam numquam possimus quibusdam expedita nam nemo consectetur ratione, deserunt a. Eaque, nesciunt doloremque?</p>
                <div class="link">
                    <a href="#">See Facebook Page</a>
                </div>
            </div>           
        </div>
        <div class="branch">
            <div class="branch-box caption">
                <h4>Taysan, Batangas</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsa ut eligendi officiis qui adipisci ullam veniam numquam possimus quibusdam expedita nam nemo consectetur ratione, deserunt a. Eaque, nesciunt doloremque?</p>
                <div class="link">
                    <a href="#">See Facebook Page</a>
                </div>
            </div>
            <div class="branch-box branch-img">
                <img src="{% static 'users/images/erlinda-bldg.jpg' %}" alt="">
            </div>            
        </div>
        <div class="branch">
            <div class="branch-box branch-img">
                <img src="{% static 'users/images/erlinda-bldg.jpg' %}" alt="">
            </div>
            <div class="branch-box caption">
                <h4>Lipa City, Batangas</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsa ut eligendi officiis qui adipisci ullam veniam numquam possimus quibusdam expedita nam nemo consectetur ratione, deserunt a. Eaque, nesciunt doloremque?</p>
                <div class="link">
                    <a href="#">See Facebook Page</a>
                </div>
            </div>   
        </div>        
    </section>
    <div class="end-note">
        <h1>Come & join the growing<span class="erlindas-text"> Erlinda's Cafe </span>family -- <br><span class="franchise-text">FRANCHISE WITH US NOW!</span></h1>
        <div class="coffee-end-notes">
            <img src="{% static 'users/images/coffee-sketch.png' %}" alt="">
        </div>
        <div class="join-us">
            <a href="#">JOIN US!</a>
        </div>
    </div>


    <section class="footer">
        <div class="end-message">
            <a href="{% url 'users:logo' %}"><img src="{% static 'users/images/erlindas-logo.png' %}" alt=""></a>
            <h1>the reason you crave middle-eastern</h1>
        </div>
        <div class="end-notes">
            <p>MONDAY - FRIDAY: 11:30AM - 11PM | SATURDAY & SUNDAY: 11:30AM - 12AM</p>
            <p>CHRISTMAS EVE: 11:30AM - 4PM</p>
            <p>CHRISTMAS DAY: CLOSED | NEW YEAR'S DAY: CLOSED</p>
            <p class="copyright">COPYRIGHT 2024 | DEVELOPED BY ABT TECHS</p>
        </div>       
    </section>
    <script src="{% static 'users/script.js' %}"></script>
</body>
</html>