@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Glass+Antiqua&family=Lumanosimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Glass Antiqua", cursive;
    /* background: url('../images/erlinda-bldg.jpg') no-repeat;
    background-position:top center;
    background-size: contain; */
    background-color: rgb(230, 228, 214);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}

header a img{
    height: 48px;
}

.logo {
    font-size: 32px;
    color: rgb(38, 0, 255);
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    
    font-size: 22px;
    color: rgb(219, 219, 219);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: rgb(240, 235, 235);
    transition: .5s;
}

.navbar a:hover::before {
    width: 100%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;    
    background-color: white;
}

.bar:nth-child(3) {
    width: 18px;
}

.bar:nth-child(2) {
    width: 20px;
}

@media screen and (max-width:806px) {
    .hamburger {
        display: block;
        /* margin-right: 20px; */
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar {
        position: fixed;
        right: -100%;
        top: 68px;
        /* gap:0; */
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: right 0.8s;
    }
    .navbar a {
        margin: 16px 0;
        position: relative; 
    }
    .navbar a:hover {
        color:rgb(145, 104, 53);
    }
    .navbar a::before {
        content: none; /* Override the ::before pseudo-element */
    }
    .navbar.active {
        right: 0
    }
}


.top {
    background: linear-gradient(45deg, black, rgb(4, 71, 71));
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.575);
}
.top h1 {
    font-size: 70px;
    padding-top: 140px;
    padding-left: 46px;
    color: rgb(230, 228, 214);
    text-shadow: 2px 6px 8px black;
}
.fb-logo-container {
    width: 60%;
    margin: auto;
    /* margin-top: 20px; */
    
}

.fb-logo {
    width: 20%;
    opacity: .70;

}
.container-logo {
    width: 70%;
}
.buttons {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 80px;
}
.see-fb, .messenger {
    font-size: 22px;
    color: rgb(230, 228, 214);
    text-decoration: none;
    
}

.see-fb {
    background-color:rgb(145, 104, 53);
    color: black;
    padding: 8px 12px;
}
.see-fb:hover{
    background-color: rgba(145, 104, 53, 0.322);
    color: rgb(230, 228, 214); 
    font-size: 24px;
}

.messenger {
    border: 1px solid rgb(145, 104, 53);
    padding: 7px 11px;
    display: inline;
}
.messenger:hover {
    border: black;
    font-size: 24px;
}

.bg {
    position: fixed;
    z-index: -2;
    margin-top: -30%;
    width: 50%;
    margin-left: 50%;
}
.bg img {
    width: 100%;

}

.middle {
    background-color: rgb(230, 228, 214);
    width: 80%;
    margin-top: 240px;
}

.mid-container {
    background: linear-gradient(45deg, black, rgb(145, 104, 53));
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.575);
    /* width: 80%; */
    margin-top: 20%;
    padding: 60px 46px;
    font-size: xx-large;
    color: white;
}
.mid-container h1 {
    color: rgb(230, 228, 214);
    text-shadow: 2px 6px 8px black;
    margin-bottom: 50px;
}

.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid-container img {
    width: 40%;
    margin-top: 20px;
}
.mid-container p {
    color: rgb(230, 228, 214);
    font-size: 22px;
    line-height: 1.8rem;
    /* text-align: center; */
    letter-spacing: 3px;
}


.end-note {
    /* background-color: rgb(145, 104, 53); */
    margin-top: 240px;
    background: linear-gradient(45deg, black, rgb(4, 71, 71));
    padding-top: 80px;
    padding-bottom:80px;
    margin-bottom: 200px;
    line-height: 80px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.575);
}

.end-note h1 {
    text-align: center;
    color: rgb(145, 104, 53);
    width: 60%;
    margin: auto;
    font-size: 56px;
}

.coffee-end-notes {
    width: 10%;
    margin: auto;
}

.coffee-end-notes img {
    width: 100%;
}

.erlindas-text {
    color: rgb(230, 228, 214);
    text-shadow: 2px 6px 8px black;
    font-style: italic;
    font-size: 70px;
}







.footer {
    /* position: relative; */
    width: 100vw;
    top: 100%;
    color: black;
    background-color: rgb(145, 104, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
}

.end-message {
    text-align: center;
    background-color: black;
    color: rgb(145, 104, 53);
    padding-top: 22px;
    padding-bottom: 22px;
    /* border: 1px solid rgba(255, 255, 255, 0.62); */
    width: 80%;
    letter-spacing: .6rem;
}

.footer {
    padding-top: 80px;
    padding-bottom: 66px;
    width: 100%;
}

.footer ul {
    list-style: none;
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    padding: 0;
    margin-top: 32px;
}

.footer li {      
    font-size: 22px;
    margin: 0;
    color: rgba(255, 255, 255, 0.575);
    cursor: pointer;
}

.footer li:hover {
    color: black;
}

.end-notes {
    padding-top: 44px;
    text-align: center;
    line-height: 1.5rem;
}


@media (max-width: 1000px) {
    .end-message {
        width: 98%;
        font-size: .8rem;
    }
    .footer img {
        width: 280px;
    }
    .footer ul {
        width: 82%;
    }
}

@media (max-width: 768px) { 
    .end-message {
        width: 98%;
        font-size: .8rem;
    }
    .footer li {
        font-size: 18px;
    }
    .footer img {
        width: 280px;
    }
    .footer ul {
        width: 82%;
    }
    .box h1 {
        margin-bottom: 20px;
    }
    
    .our-story {
        margin: 88px 0;
        padding-left: 30px;
        font-size: 4.5rem;
    }
    body {
        background-size: 1000px;
    }
}


@media (max-width: 430px) { 
    .our-story {
        margin: 88px auto;
        padding-left: 24px;
        font-size: 4rem;
    }
    .box-story {
        margin-top: -30px;
        padding: 60px 40px; 
        letter-spacing: 2px;
        line-height: 1.8rem;
    }
    
    .image-box {
        margin-left: 28%;
        margin-top: -30px;
        margin-bottom: -30px;
    }
    body {
        background-size: 980px;
    }
}

/* TEST FOR MIN_HEIGHT */

@media screen and (min-height: 800px) {
    .branch-img img {
        height: 60vh; /* Change minimum height to 80% of the viewport height on longer screens */
    }
}


@media screen and (max-width: 600px) {
    .branch {
        display: flex;
        flex-direction: column;
    }


    .branch:nth-child(3) {
        background-color: rgb(230, 228, 214);
        display: flex;
        flex-direction: column-reverse;
    }
    
    
    .title {
        padding: 20px 8px;
        margin-top: 68px;
    }
    .title h1 {
        font-size: 38px;
        padding-top: 50px;    
    }
    
    .p-container {
        font-size: 1.2rem;
        width: 70%;
        margin: auto;
        letter-spacing: 2px;
        line-height: 1.8rem;
        padding-left: 12px;
        margin-bottom: 60px;
    }
    .link {
        margin-bottom: 80px;
    }
    
    .caption h4 {
        font-size: 38px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .branch-img {
        box-shadow: 0px -10px 10px -5px rgba(0, 0, 0, 0.5);
    }
    .erlindas-text, .franchise-text {
        font-size: 40px;
    }
    .end-note {
        line-height: 60px;
    }

}


@media screen and (max-width: 700px) {
    .buttons {
        display: flex;
        flex-direction: column;
        padding: 10px 56px;
        gap: 20px;
    }
    .top {
        padding-bottom: 40px;
    }
    .phone-container {
        flex-direction: column;
    }
    .phone-container img {
        margin-bottom: 70px;
        margin-top: 16px;
    }
    .fb-logo-container {
        margin-top: 44px;
    }
}